


.parentCard{
    border: 1px solid;
}
.proPic {
    height: 140px;
    width: 140px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .proDark {
    border: 1px solid white;
  }
  
  .proLight {
    border: 1px solid black;
  }
  
  .cardBorderCorners {
    border-radius: 50px 25px;
    width: 18rem;
  }
  
  .darkCard {
    background-color: #25235c;
    margin: 20px auto;
    width: 380px;
  }
  
  .lightCard {
    background-color: #ffffff;
  }
  
  .darkTitle {
    margin-top: 10px;
    color: #ebecf5;
    text-align: center;
  }
  
  .lightTitle {
    margin-top: 10px;
    color: #2c2c2c;
    text-align: center;
  }
  
  .darkSubTitle {
    color: #7e76b6;
    text-align: center;
  }
  
  .lightSubTitle {
    color: #37355b;
    text-align: center;
  }
  
  .darkDesc {
    margin-top: 20px;
    color: #b8b7d3;
    text-align: center;
  }
  
  .lightDesc {
    margin-top: 20px;
    color: #333333;
    text-align: center;
  }
  
  .darkMail {
    margin-top: 20px;
    color: #dedcf4;
    text-align: center;
  }
  
  .lightMail {
    margin-top: 20px;
    color: #c2c2e0;
    text-align: center;
  }
  
  .darkMailText {
    padding: 5px;
    background-color: #6b62b9;
  }
  
  .lightMailText {
    padding: 5px;
    background-color: #25235c;
  }
  
  .social {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .attributeText {
    margin-top: 20px;
    text-align: center;
    color: #25235c;
  }